body {
  background-color: #334873;
}

h1 {
  color: #fc0;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding-bottom: 50px;
  text-align: center;
}

p {
  color: #fc0;
  font-size: 2em;
}

p span {
  font-size: 2em;
}

#boton1{
  border: 2px solid #000000;
}