html , body{
	line-height: 1;
	background-color: #334873;
	/*/background-image: url(../_images/bg-page2.png);*/
}

.logo {
	letter-spacing: -1px;
	color: rgb(204,102,0);
	text-shadow: 2px 2px 1px rgba(0,0,0,.25);
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 50px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	margin: 20px 0 0 20px;
}

.header {
	position: relative;
	/*border-top: solid 6px white;*/
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
}

.numero{
	width:90px;
	height:60px;
	font-size: 30px;	
}

.reset{
	width:90px;
	height:60px;
	font-size: 30px;
}

table{
	margin:auto;
}

.color_display{
	height:30px;
	background-color:#000;
	border:medium #FFF;
	color:#0F0;
	text-align:right;
	padding:19px;
	width: 89%;
	font-size:30px;
}

/*.clouds{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: #68adf2;
	color: #2c3e50;
}
.cloud{
	width: 22.5em;
	height: 7.5em;
	background: #f2f9fe;
	-moz-border-radius: 6.25em;
	-webkit-border-radius: 6.25em;
	border-radius: 6.25em;
	position: relative;
	margin: 7.5em auto 1.25em;
}
.cloud:after, .cloud:before{
	content: "";
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
	border-radius: 50%;
}
.cloud:after{
	width: 7.5em;
	height: 7.5em;
	top: -3.125em;
	left: 3.125em;
}
.cloud:before{
	width: 11.25em;
	height: 11.25em;
	top: -5.625em;
	right: 3.125em;
}
.cloud.s1{
	-moz-transform: scale(0.9, 0.9);
	-ms-transform: scale(0.9, 0.9);
	-webkit-transform: scale(0.9, 0.9);
	transform: scale(0.9, 0.9);
	-webkit-animation: moveclouds 30s linear infinite;
	-moz-animation: moveclouds 30s linear infinite;
	-o-animation: moveclouds 30s linear infinite;
}
.cloud.s2{
	left: 12.5em;
	-moz-transform: scale(0.7, 0.7);
	-ms-transform: scale(0.7, 0.7);
	-webkit-transform: scale(0.7, 0.7);
	transform: scale(0.7, 0.7);
	-webkit-animation: moveclouds 50s linear infinite;
	-moz-animation: moveclouds 50s linear infinite;
	-o-animation: moveclouds 50s linear infinte;
}
.cloud.s3{
	left: -15.625em;
	top: -12.5em;
	-moz-transform: scale(0.4, 0.4);
	-ms-transform: scale(0.4, 0.4);
	-webkit-transform: scale(0.4, 0.4);
	transform: scale(0.4, 0.4);
	-webkit-animation: moveclouds 40s linear infinite;
	-moz-animation: moveclouds 40s linear infinite;
	-o-animation: moveclouds 40s linear infinite;
}
.cloud.s4{
	left: 29.375em;
	top: -35.65em;
	-moz-transform: scale(0.5, 0.5);
	-ms-transform: scale(0.5, 0.5);
	-webkit-transform: scale(0.5, 0.5);
	transform: scale(0.5, 0.5);
	-webkit-animation: moveclouds 36s linear infinite;
	-moz-animation: moveclouds 36s linear infinite;
	-o-animation: moveclouds 36s linear infinite;
}
.cloud.s5{
	left: -38em;
	top: -38em;
	-moz-transform: scale(0.3, 0.3);
	-ms-transform: scale(0.3, 0.3);
	-webkit-transform: scale(0.3, 0.3);
	transform: scale(0.3, 0.3);
	-webkit-animation: moveclouds 44s linear infinite;
	-moz-animation moveclouds 44s linear infinite;
	-o-animation: moveclouds 44s linear infinte;
}

@-webkit-keyframes moveclouds{
	0%{
		margin-left: 125em;
	}
	100%{
		margin-left: -125em;
	}
}
@-moz-keyframes moveclouds{
	0%{
		margin-left: 125em;
	}
	100%{
		margin-left: -125em;
	}
}
@-o-keyframes moveclouds{
	0%{
		margin-left: 125em;
	}
	100%{
		margin-left: -125em;
	}
}
*/












/* reset */
/*html, body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}*/
/* end reset*/

/*.contenido {
	max-width: 850px;
	margin: 50px 0 0 600px;
}

.principal {
	position: relative;
	padding-bottom: 1em;
	border-bottom: solid 2px rgba(255,255,255,.5);
	overflow:hidden;
}

.principal h1 {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 1px rgba(0,0,0,.75);
	text-align: center;
	border-bottom: solid 4px rgba(255,255,255,.5);
	margin-bottom: 0.75em;
	padding: 10px;

}

p{
	color:#FFF;
	font-weight:bold;
	font-size:1.2em;
	padding: 5px;
	text-shadow: 2px 2px 2px blue;
}*/